.font-tahoma {
    font-family:
        Tahoma,
        Verdana,
        Segoe UI,
        sans-serif;
}

@import 'tailwindcss';

@theme {
    --breakpoint-sm: 575px;
    --breakpoint-x-sm: 425px;

    --animate-wiggle: wiggle 1.5s ease-in-out infinite ;

    @keyframes wiggle {
        0%{
            transform: rotate(-30deg);
        }
        50% {
            transform: rotate(30deg);
        }
        100% {
            transform: rotate(-30deg);
        }
    }
}

:root {
    --primary-color: #0a0a0a;
    --secondary-color: #111111;
    --tertiary-color: #151515;
    --quaternary-color: #252525;
    --options-color: #1c1c1c;
    --options-div-color: #171717;
    --backdrop-color: #15151550;
    --navbar-color: #000;
    --text-color: #eaeaea;
    --text-color2: #aeaeae;
    --dark-pink-color: #f6339a;
    --text-pink-color: #fdb0d9;
    --text-pink-color2: #fed0e9;
    --text-dark-color: #7e7e7e;
    --button-color: #ececec;
    --button-hover-color: #fff;
    --border-color: #aaaaaa;
    --border-color2: #252525;
    --button-bg-color: #2b2b2b;
    --post-bg-color: #1f1f1f;

    /* Contact page */
    --bg-color: #737373;
    --form-color: #bfbfbf;
    --input-color: #ebebed;
    --input-ring-color: #a1a1a1;
    --light-text-color: #717182;
    --clear-btn-hover-color: #e9ebef;
}
